body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e7e3e7;
}


.navbar {
    background-color: #7ba9c6;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.logout-btn {
    background-color: red;
    padding: 5px 10px;
    border-radius: 4px;
}

.logout-btn:hover {
    background-color: darkred;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: darkgreen;
}


.title {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
    margin: 0;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card {
    background: rgb(236, 242, 236);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    padding: 15px;
}

.product-card img {
    max-width: 100%;
    border-radius: 8px;
}


.product-card h3 {
    margin: 10px 0;
}

.product-card p {
    color: rgb(87, 207, 87);
    font-weight: bold;
}

.product-card button {
    padding: 8px 12px;
    background-color: orange;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.product-card button:hover {
    background-color: darkorange;
}
